header {
    background-color: rgb(64, 64, 255);
    text-align: center;
    height: 100px;
    color: white;
    padding-top: 30px;
  padding-bottom: 30px;
    
}
body {
    background-color: rgb(184, 184, 184);
    border-collapse: collapse;
}
div{
    border-collapse: collapse;
    background-color: white;
    padding: 20px;
}
thead {
    background-color: rgb(64, 64, 255);
    color: white;
}
table {
    width: 100%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
  }
  table,
th,
td {
  border: 1px solid #ddd;
  border-collapse: collapse;
  text-align: left;
  padding: 8px;
}
form {
    border-collapse: collapse;
}
form[class="01"] {
    border: 1px solid #ddd;
    padding: 8px;
}
input {
    width: 100%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
  }

button {
    background-color: rgb(64, 64, 255);
    color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
}